.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.grid-item {
    height: 100%;
    background-color: #444;
    transform: scaleY(0);
    transform-origin: bottom;
    &__1 {
        background-color: goldenrod;
    }
    &__2 {
        background-color: lightcoral;
        transform-origin: top;
    }
    &__3 {
        background-color: aqua;
    }
}
